&top {
pgpio0{pad_config = <0x80 0x1 0x80 0x2>;};
pgpio2{pad_config = <0x84 0x1 0x84 0x2>;};
	pgpio4{gpio_config = <P_GPIO(4) 0>;}; /* BL_PCTL Back Light */
	pgpio12{gpio_config = <P_GPIO(12) 1>;}; /* SN1_18EN Sensor 1 1.8v */
	dgpio8{gpio_config = <D_GPIO(8) 1>;}; /* SN1_29EN Sensor 1 2.9v */
	lgpio21{gpio_config = <L_GPIO(21) 0>;}; /* LCD_RESET */
	dgpio1{gpio_config = <D_GPIO(1) 1>;}; /* SD_POWER */
	dgpio9{gpio_config = <D_GPIO(9) 1>;}; /* GPS_PWR_EN */
	pgpio0{gpio_config = <P_GPIO(0) 0>;}; /* ETH POWER EN*/
	pgpio1{gpio_config = <P_GPIO(1) 0>;}; /* LED_WIFI */
	pgpio3{gpio_config = <P_GPIO(3) 0>;}; /* LED_EMERG */
	pgpio5{gpio_config = <P_GPIO(5) 1>;}; /* WL_REG_ON */
	pgpio7{gpio_config = <P_GPIO(7) 0>;}; /* BT_RST */
	pgpio9{gpio_config = <P_GPIO(9) 1>;}; /* APAMP_EN */
	pgpio11{gpio_config = <P_GPIO(11) 1>;}; /* WIFI_PWR_EN */
	pgpio20{gpio_config = <P_GPIO(20) 0>;}; /* GSENSOR_EN */
};
